<div class="comment-card">
 <div class="card">
   <div class="card-block">
     <div class="row">
       <div class="clo-md-1">
       </div>

       <div class="clo-md-11">
         <%= comment.content %>
       </div>
     </div>
   </div>
 </div>
</div>
  