<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>I am a Full-Stack Software Developer. I graduated as a software developer from Bottega school of technology in August 11, 2017. I have developed several apps. Most of my apps are developed using Ruby on Rails. In addition, i have used following tools in my projects. Currently, i working as a freelancer and devoted myself in learning new languages.</p>
      <hr>
        <h5>Skills</h5>
        <p>RUBY | RAILS | HTML |CSS | SQL | BOOTSTRAP |GIT HUB | JQUERY | TYPESCRIPT | RSPEC | ANGULARJS | AGILE PROCESS | COMMAND LINE | POSTGRESQL | API | HEROKU</p>

        <hr>
				<p> I am MBA graduate and before coming to software field, i worked as an Customer Service, Sales, Account Manager and Analyst positions in various companies. Feel free to browse my job and education history below. </p>
        
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <h5>Software Developer | Freelancer</h5>
              <h6>Since Jan 2017 till present</h6>
            </div>
            <div class="card card-block">
              <h5>Customer Service/ Account Manager</h5>
              <h6>United States Welding Inc</h6>
              <h6>May 2014 - Dec 2016</h6>
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              <h5>Bottega</h5>
              <h6>Full Stack Software Development, Aug 2017</h6>
              <h6>2912 Executive Pkwy #220, Lehi, UT 84043</h6>
            </div>
            <div class="card card-block">
              <h5>Stevens-Henager College</h5>
              <h6>Master of Business Administration, Jan 2010</h6>
              <h6>383 W Vine St, Salt Lake City, UT 84123</h6>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>

				