<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
<p>I have just join a coding school named "Bottega" and i have joined thousands of 
	developers with a passion and willingness to learn various programming languages. Since, in my school, the core programming language is Ruby, i am learning various syntaxes and methods of ruby. In addition, rails being a powerful framework to implement ruby, this portfolio is a result of the awesome combination of ruby, rails and styling languages.</p>

<p> I have been in a business management field in a quite a long time but my passion to become a professional developer has never become weaker. This is the main reason i am here right know. Feel free to email me by going to my contact page if you have any specific questions or concern. </p>
  </div>
 </div>
